
$color-1:#83d3d4;
$color-2: #2d8183;
$color-3: #910c07;
$color-4: #f48153;
$color-5: #d500f9;
$color-6:#0E8Bff;
$grey: #F6F9F9;
$text-grey:#7C8A96;

$text-blue-alt:#2c659b;
$text-blue:#1C4062;
// $text-blue-alt:#214E77;
$bullet-orange: #ff7d50;


.img-container{
  display:flex;
  justify-content:center;
  flex:1;
  align-items: center;
}

.img-container img{
  margin-top:5px;
} 

.img-container.alt{
  flex:0.7;
  box-shadow:0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  margin:5px;
  width:90%;
}

.img-container.fixed{
  flex:none;
}


.img-alt{
  border-radius:5px;
  box-shadow:0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}


.main-point{
  text-align: center;
  width:80%;
  align-self: center;
  box-shadow:0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  font-family:'Roboto Slab', sans-serif;
  padding:40px;
  font-weight:300;
  color:#333;
  border-radius:3px;
  border-left:6px solid;
  border-color: $color-6;
  font-size:0.8em;
  // background-color:#F6F9F9;
  // background-color:#FA8072;
  // background-color:#0E8BFF;
  // background: linear-gradient(90deg, #1B9CE5 0%, #10E7DC 100%);
  // border-color:$color-2;
}

.main-point.small{
  font-size:0.65em;
  padding:25px;
}
 

.main-point.circ{
  border:none;
  width: 375px;
  height:75px;
  font-size:0.7em;
  // font-size:0.8em;
  // height:auto;
  // height:auto;
  // border-radius:50%;
  border:3px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-left:4px solid $color-6;
}






.metric-list{
  font-family:'Montserrat',sans-serif;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  height:75%;
}

.importance-box.thm,
.importance-box.def{
  flex-direction:column;
  box-shadow:0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  border-radius:2px;
  // background-color:$grey;
  background-color:white;
  // background-color:rgb(242,243,247);
  margin:10px 7px;
  padding:7px 7px 20px 7px;
}







.importance-box .header{
  margin:5px 10px 0px 10px;
  padding:0px;
  display:flex;
  flex-direction:row;
  align-items:center;
}

.importance-box .header .label{
  font-family: 'Lato', sans-serif;
  font-size:0.9em;
  // color:black;
  // color:$text-blue;
  // color:#333;
  letter-spacing:0.03em;
  font-weight:500;
  margin-left:0px;

}

.importance-box .header .label:after{
  content:":";
  margin-left:2px;
}


.importance-box .bullet{
  height:8px;
  width:8px;
  border-radius:4px;
  // background-color:$color-4;
  background-color:$color-5;
  position:relative;
  top:1px;
}

.importance-box.thm .bullet{
  background-color:$color-4;
}


.importance-box .text-area{
  display:flex;
  flex-direction:row;
  align-items:center;
  // justify-content: center;
  margin-bottom:5px;
}

.importance-box .text-area .content{
  font-size:0.6em;
  // font-family:'Montserrat',sans-serif;
  font-family:'Lato',sans-serif;
  width:100%;
  color:#333333;
  // color:$text-blue;
  margin:15px 0px 0px 30px;
}




.iteration-step{
  padding:20px;
  margin:10px;
  flex:1;
  // border:1px solid black;
  box-shadow:0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  display:flex;
  flex-direction:column;
  // justify-content: center;

}

.iteration-step .label{
  margin-top:40px;
  font-size:0.8em;
  font-weight:500;
  color:$text-blue;
  font-family:"Roboto Slab", sans-serif;
}

.iteration-step .content{
  font-size:0.55em;
  margin-top:30px;
}

.statement{
  font-size:0.8em;
  font-weight:500;
  color:$text-blue;
  align-self:center;
  font-family:"Roboto Slab",sans-serif;
  margin-top:50px;
}

.card{
  box-shadow:0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  padding:20px;
  margin:20px;
  display:flex;
  border-radius:4px;
  flex:1;
  font-size:0.6em;
  font-family:'Roboto Slab',sans-serif;
  color:$text-blue;
  background-color:white;
}

.card.center{
  text-align:center;
  justify-content: center;
  align-items:center;
}

